body, html {
  margin: 0;
  padding: 0;
  background: #111;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', serif;
  color: #fff;
}

#intro {
  width: 100vw;
  height: 100vh;
}

#intro-logo {
  opacity: 0;
  transition: opacity 1s ease-out;
  width: 100vw;
  height: 100vh;
  background-image: url(./hen.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
}